<div class="head-title">
	<div class="left">
		<h1>Ajouter Produit</h1>
		<ul class="breadcrumb">
		
		</ul>
	</div>

</div>


<div class="container">
   
        <div class="col-md-4 col-md-pull-7">
            <div class="booking-form">
                <form #f="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <span class="form-label">Nom Produit</span>
                        <input class="form-control" type="text"  [(ngModel)]="produit.nomProduit" name="nomProduit">
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span class="form-label">Prix</span>
                                <input class="form-control" type="number" [(ngModel)]="produit.prix" name="prix" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span class="form-label">Quantité</span>
                                <input class="form-control" type="number"  [(ngModel)]="produit.quantite" name="quantite" required>
                            </div>
                        </div>
                    </div>
           
                    <div class="form-btn">
                        <button class="submit-btn" type="submit">Ajouter</button>
                    </div>
                </form>
          
        </div>
    </div>
</div>
